/* ========================= */
/* ECONOMY */
/* ========================= */

.economy-intro {
  background: var(--main-page-color);
  display: block;
  align-items: center;
}

/* HEADER */

.economy-header {
  max-width: 850px;

  margin: auto;

  text-align: center;
}

.economy-header h2 {
  margin-bottom: 20px;
  margin-inline: auto;
  font-size: var(--title-font-size);
}

.economy-header p {
  max-width: 800px;

  margin: auto;
}

/* ========================= */
/* FEATURES */
/* ========================= */

.economy-features {
  margin-top: 35px;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 35px 60px;
}

.economy-feature {
  display: flex;

  align-items: center;

  gap: 25px;

  padding: 25px;

  cursor: pointer;

  transition: var(--transition-fast);

  border: 3px solid var(--main-page-color);
  border-radius: 20px;
}

/* ICONOS */

.feature-icon,
.econ-btn {
  min-width: 55px;

  height: 55px;

  border-radius: 50%;

  border: 1px solid var(--main-title-color);

  display: flex;

  justify-content: center;

  align-items: center;

  transition: var(--transition-fast);
}

.feature-icon .icon,
.econ-btn .icon {
  color: white;
  transition: var(--transition-fast);
}

/* TEXTO */

.feature-content h3 {
  font-size: var(--subtitle-font-size);

  margin-bottom: 10px;
}

.feature-content p {
  color: var(--main-letter-color);

  font-size: 16px;

  line-height: 1.6;
}

/* ========================= */
/* CONTENIDO EXTRA */
/* ========================= */

.economy-extra {
  margin-top: 80px;

  min-height: 250px;

  border-radius: 20px;

  border: 1px solid var(--main-border-color);

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  text-align: center;

  padding: 40px;
}

.economy-extra h3 {
  color: var(--main-title-color);

  font-size: 30px;

  margin-bottom: 15px;
}

.economy-extra p {
  max-width: 600px;

  line-height: 1.6;
}

.nav-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hover */
.economy-feature:hover {
  transform: translate(5px, -5px);
  border-color: var(--main-hover-color);
}
.economy-feature:hover .feature-content h3 {
  color: var(--main-hover-color);
}

.economy-feature:hover .feature-content h3::after {
  width: 100%;
}

.economy-feature:hover .feature-icon .icon {
  color: var(--letter-color-active);
}
.economy-feature:hover .feature-icon,
.econ-btn:hover {
  background: var(--main-hover-color);
  border-color: var(--main-hover-color);
}

.economy-feature:hover .feature-icon i,
.econ-btn:hover .icon {
  color: #111;
}

.economy-feature:hover .feature-content p {
  color: var(--main-hover-color);
}
/* Active */
.economy-feature:active {
  transform: translate(-3px, 3px);
}
