*,
*::before,
*::after {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  border: none;

  text-decoration: none;

  list-style: none;

  user-select: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background: var(--main-page-color);
  color: var(--main-letter-color);
  min-width: 100vw;
}
