@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* COLORES */

  --main-font: "Outfit", sans-serif;

  --main-page-color: #131313;

  --main-letter-color: #bbbbbb;

  --main-title-color: #ffffff;

  --main-hover-color: rgb(86, 10, 207);

  --letter-color-active: #fff;

  --main-border-color: rgb(73, 70, 70);

  /* COLORES DE MARCA */

  --main-color-blue: rgb(16, 101, 150);

  --main-color-red: rgb(207, 10, 10);

  --main-color-yellow: rgb(204, 207, 10);

  --main-color-purple: rgb(86, 10, 207);

  /* TAMAÑOS */

  --title-font-size: 55px;

  --subtitle-font-size: 22px;

  --text-font-size: 18px;

  /* EFECTOS */

  --transition-fast: 0.25s ease;

  --transition-normal: 0.5s ease;

  /* ESPACIADOS */

  --section-padding: 100px 8%;
}

/* ================= */
/* ESTRUCTURA GENERAL */
/* ================= */

.section {
  padding: var(--section-padding);
}

/* ================= */
/* BOTONES */
/* ================= */

.btn-primary {
  display: inline-block;

  cursor: pointer;

  user-select: none;

  transition:
    transform var(--transition-fast),
    background var(--transition-fast);
}

.btn-primary:hover {
  transform: translateY(-5px);
  background: rgb(43, 41, 41);
  color: white;
}

.btn-primary:active {
  transform: translateY(2px) scale(0.96);
}

/* ================= */
/* TEXTOS */
/* ================= */

.text-description {
  opacity: 0.9;

  cursor: pointer;

  transition: transform var(--transition-fast);

  font-size: var(--text-font-size);
}

.text-description:hover {
  transform: scale(1.02);

  color: var(--main-hover-color);
}

.text-description:active {
  transform: scale(0.98);
}

/* ================= */
/* TITULOS */
/* ================= */

.text-title {
  cursor: pointer;

  user-select: none;

  transition:
    transform var(--transition-fast),
    color var(--transition-fast),
    font-weight 0.5s ease;
}

.text-title:hover {
  transform: scale(1.02);

  color: var(--main-hover-color);
}

.text-title:active {
  transform: scale(0.96);
  color: var(--main-hover-color);
}

/* ================= */
/* SUBRAYADO ANIMADO */
/* ================= */

.effect-underline,
.effect-underline-card {
  display: block;

  position: relative;

  width: max-content;
}

.effect-underline::after,
.effect-underline-card::after {
  content: "";

  position: absolute;

  left: 0;

  bottom: -8px;

  width: 0;

  height: 3px;

  background: var(--main-hover-color);

  transition: width var(--transition-normal);
}

.effect-underline:hover::after {
  width: 100%;
  background-color: var(--main-hover-color);
}

.effect-underline:active::after {
  background-color: var(--main-hover-color);
}

/* Styles con js */

.effect-underline-active::after,
.effect-underline-card-active::after {
  width: 100%;
  background-color: var(--letter-color-active);
}

.effect-underline-active,
.effect-underline-card-active {
  color: var(--letter-color-active);
}

.text-description-active {
  color: var(--letter-color-active);
  transform: scale(1.04);
  /* font-weight: 600; */
}
/* Economy styles js */

.economy-feature-active {
  border-color: var(--letter-color-active);
}
.economy-feature-active .feature-icon {
  background-color: var(--letter-color-active);
  border-color: var(--letter-color-active);
}
.economy-feature-active .feature-icon .icon {
  color: var(--main-page-color);
  height: 1.5em;
}
.economy-feature-active .feature-content p {
  color: var(--letter-color-active);
}
